.participation__container {
    display: flex;
    margin: 35px 0 0;
}

@media screen and (max-width: 830px) {
    .participation__container {
        margin-top: 25px;
    }
}

@media screen and (max-width: 600px) {
    .participation__container {
        display: block;
    }
}