.header__subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width: 700px ){
    .header__subtitle {
        font-size: 8.96643px;
    }
}

@media screen and (max-width: 575px) {
    .header__subtitle {
        font-size: 12px;
    }
}