.header__container {
    display: flex;
    margin-right: 257px;
    align-items: center;
}
.header__container:last-child {
    margin: 0;
}

@media screen and (max-width: 700px) {
    .header__container {
        margin-right: 203px;
    }
}

@media screen and (max-width: 575px) {
    .header__container {
        margin: 0;
    }
}