.header__title {
    font-weight: 400;
    font-size: 19px;
    line-height: 100%;
    color: #FFFFFF;
    max-width: 433px;
    margin: 0;
}

@media screen and (max-width: 700px) {
    .header__title {
        font-size: 11px;
        max-width: 251px;
    }
}

@media screen and (max-width: 575px) {
    .header__title {
        max-width: 223px;
    }
}